<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sections</key>
	<array>
		<dict>
			<key>header</key>
			<string>settings.headers.general</string>
			<key>rows</key>
			<array>
				<dict>
					<key>configuration</key>
					<dict>
						<key>localizedIdentifier</key>
						<string>settings.general.use_jit</string>
						<key>text</key>
						<string>Use JIT</string>
						<key>selection</key>
						<string>checkmark</string>
						<key>image</key>
						<string>cpu</string>
						<key>identifier</key>
						<string>use_jit</string>
					</dict>
				</dict>
				<dict>
					<key>configuration</key>
					<dict>
						<key>localizedIdentifier</key>
						<string>settings.general.use_hle</string>
						<key>text</key>
						<string>Use HLE</string>
						<key>selection</key>
						<string>checkmark</string>
						<key>image</key>
						<string>brain</string>
						<key>identifier</key>
						<string>use_hle</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>header</key>
			<string>settings.headers.customization</string>
			<key>rows</key>
			<array>
				<dict>
					<key>configuration</key>
					<dict>
						<key>localizedIdentifier</key>
						<string>settings.customization.resolution_scale</string>
						<key>text</key>
						<string>Resolution Scale</string>
						<key>secondaryText</key>
						<string>1</string>
						<key>selection</key>
						<string>tappable</string>
						<key>image</key>
						<string>aspectratio</string>
						<key>identifier</key>
						<string>resolution_scale</string>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
